.carousel {
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  /* scrollbar-width: none; */
  position: fixed;
  z-index: 1;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}