.sidebar {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* align-content: stretch; */
  overflow-y: scroll;
  white-space: nowrap;
  top: 10vh;
  max-height: 85vh;
  width: 15.5vw;
  right: 1.5vw;
  position: fixed;
  z-index: 10;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  z-index: 10;
}