.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal_main {
  border: 1px transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position:fixed;
  background: black;
  bottom: 0vh;
  height: 95vh;
  width: 49vw;
  top: 50vh;
  left: 40.5vw;
  transform: translate(-50%,-50%);
  z-index: 10;
}


.modal_sidebar {
  border: 1px transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  background:white;
  width: 18.5vw;
  left: 74vw;
  max-height: 95vh;
  height: 95vh;
  top: 50vh;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.btn_right {
  position: fixed;
  bottom: 50vh;
  left: 46vw;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  fill: white;
  font-size: x-large;
  z-index: 10;
  opacity: 50%;
}

.btn_left {
  position: fixed;
  bottom: 50vh;
  right: 46.3vw;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  fill: white;
  font-size: x-large;
  z-index: 10;
  opacity: 50%;
}

.btn_x {
  position: fixed;
  top: 0.2vh;
  right: 17vw;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: inherit;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: inherit;
  z-index: 10;
}

.restaurant_name {
  position: fixed;
  right: 11.5vw;
  top: 3vh;
  font-size: larger;
  font-weight: bold;
  z-index: 10;
}

.display_block {
  display: block;
  z-index: 10;
}

.display_none {
  display: none;
}