.sidebar_image {
  width: 15.5vw;
  height: 15vh;
  object-fit: cover;
}

.sidebar_image_current {
  width: 100px;
  height: 100px;
  border: 2px blue solid;
  border-radius: 5px;
}

.image_small {
  max-height: 150px;
  max-width: 200px;
}

.image_wide {
  max-height: 200px;
  max-width: 350px;
}

.sidebar_image_container {
  width: 15.5vw;
  height: 25vh;
}