.carousel {
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;
}

.images {
  width: 300px;
  height: 250px;
  margin-left: 1px;
  margin-right: 1px;
  
}
.left {
  float: left;
  position: fixed;
  color: white;
  bottom: 80vh;
  left: 2vw;
}

.right {
  position: fixed;
  right: 2vw;
  color: white;
  bottom: 80vh;

}
::-webkit-scrollbar {
  display: none;
}